<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Account details</h2>
      <br>
      <br> ID:<%= account._id  %>
      <br> Given: <%=account.given%>
      <br> Family: <%=account.family%>
      <br> Date_created: <%=account.date_created%>
      <br> Phone_no: <%=account.phone_no%>
      <br> Email: <%=account.email%>
      <br> Street 1: <%=account.street1%>
      <br> Street 2: <%=account.street2 %>
      <br> City: <%=account.city %>
      <br> State: <%=account.state %>
      <br> Zip: <%=account.zip %>
      <br> Country: <%=account.country %>
      <hr>

      <form method="get" action="/account">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>