<!-- main - a row holds columns -->
<div class=row>
    <div class="col col-xs-12">
  
      
  
      <div class="form-group">
        <label for="given">Given name</label>
        <input type="text" class="form-control" id="given" name="given" value="<%= account.given %>">
      </div>
  
      <div class="form-group">
        <label for="family">Family name</label>
        <input type="text" class="form-control" id="family" name="family" value="<%= account.family %>">
      </div>

      <div class="form-group">
        <label for="date_created">Date_created</label>
        <input type="text" class="form-control" id="date_created" name="date_created" value="<%= account.date_created %>" required>
      </div>

      <div class="form-group">
        <label for="phone_no">Phone_no</label>
        <input type="number" class="form-control" id="phone_no" name="phone_no" value="<%= account.phone_no %>" required>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" value="<%= account.email %>" required>
      </div>

      <div class="form-group">
        <label for="street1">Street address 1 </label>
        <input type="text" class="form-control" id="street1" name="street1" value="<%= account.street1 %>">
      </div>
  
      <div class="form-group">
        <label for="street2">Street address 2 </label>
        <input type="text" class="form-control" id="street2" name="street2" value="<%= account.street2 %>">
      </div>
  
      <div class="form-group">
        <label for="city">City </label>
        <input type="text" class="form-control" id="city" name="city" value="<%= account.city %>">
      </div>
  
      <div class="form-group">
        <label for="state">State </label>
        <input type="text" class="form-control" id="state" name="state" value="<%= account.state %>">
      </div>
  
      <div class="form-group">
        <label for="zip">zip </label>
        <input type="text" class="form-control" id="zip" name="zip" value="<%= account.zip %>">
      </div>
  
      <div class="form-group">
        <label for="country">Country </label>
        <input type="text" class="form-control" id="country" name="country" value="<%= account.country %>">
      </div>
  
    </div>
  </div>
  
  <!-- PUT CLIENT SIDE CODE HERE -->
  <script>
  
    // function toCurrency(amount) 
  
    // https://gist.github.com/kylefox/780065
    function toCurrency(amount) {
      return "$" + amount.toFixed(2);
    };
  
    // function toCurrencyInt(amount) 
    function toCurrencyInt(amount) {
      return "$" + amount.toFixed(0);
    };
  
    // Add  .toCurrency() method to all Numbers
    Number.prototype.toCurrency = function () {
      return toCurrency(this);
    };
  
    // Add  .toCurrencyInt() method to all Numbers
    Number.prototype.toCurrencyInt = function () {
      return toCurrencyInt(this);
    };
  
    function onFormChange() {
      const newAge = parseFloat($("input[name=age]").val());
      let price = 75
      if (newAge == 1) {
        price = 100
      }
      $("#puppyCost").html(price.toCurrencyInt());
    }
  
    // window.onload = a function that will call all update functions to display calculated values
    window.onload = function () {
      onFormChange();
    }
  
    // prevent submission when hitting enter key - optional, but user-friendly 
    document.forms[0].onkeypress = function (e) {
      var key = e.charCode || e.keyCode || 0;
      if (key == 13) {
        e.preventDefault();
      }
    }
  
  // END CLIENT SIDE CODE  (close the script tag)
  </script>