</br>
</br>
<hr>
</br>
<footer class="footer">
  <hr>
  <div class="container">
    <p>&copy; 2019</p>
    <p class="text-muted"><a href="https://bitbucket.org/MRaghavendar/node-express-mvc-ejs-start/src/master/">Repository</a></p>
  </div>
</footer>