<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <br>
      <h1>Home page</h1>
      <!-- Adding link for category -->
      <hr>
      <h2>Pradeepkumar Theegala</h2>
      <h3> Category</h3>

      <!-- Requesting for JSON Data -->
      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="/category/findall">All Category data</a>
        </li>
        <li> <a href="/category/findone/101"> Find 101</a>
        </li>
        <li> <a href="/category/findone/102"> Find 102 </a>
        </li>
        <li> <a href=" /category/findone/103"> Find 103</a>
        </li>
        <li> <a href=" /category/findone/104"> Find 104</a>
        </li>
      </ol>
      <!-- Requesting for Getting view -->
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="/category"> /category</a>
        </li>
        <!-- Creating Category -->
        <li>
          <a href=" /category/create"> Create Category</a>
        </li>
        <!-- Editing Category -->
        <li>
          <a href=" /category/edit/101"> Edit 101</a>
        </li>
        <li>
          <a href=" /category/edit/102"> Edit 102</a>
        </li>
        <li>
          <a href=" /category/edit/103"> Edit 103</a>
        </li>
        <li>
          <a href=" /category/edit/104"> Edit 104</a>
        </li>
        <!-- Deleting Category -->
        <li>
          <a href=" /category/delete/101"> Delete 101</a>
        </li>
        <li>
          <a href=" /category/delete/102"> Delete 102</a>
        </li>
        <li>
          <a href=" /category/delete/103"> Delete 103</a>
        </li>
        <li>
          <a href=" /category/delete/104"> Delete 104</a>
        </li>
        <!-- Category Details -->
        <li>
          <a href=" /category/details/101"> Details 101</a>
        </li>
        <li>
          <a href=" /category/details/102"> Details 102</a>
        </li>
        <li>
          <a href=" /category/details/103"> Details 103</a>
        </li>
        <li>
          <a href=" /category/details/104"> Details 104</a>
        </li>
      </ol>
      <hr>

      <!-- Adding link for organization -->
      <hr>
      <h2>Raghavendar Reddy Maddelavedu</h2>
      <h3> Organization</h3>
      <!-- Requesting for JSON Data -->
      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="/organization/findall">All organization data</a>
        </li>
        <li> <a href="/organization/findone/1"> Find 1</a>
        </li>
        <li> <a href="/organization/findone/2"> Find 2 </a>
        </li>
        <li> <a href="/organization/findone/3"> Find 3</a>
        </li>
        <li> <a href="/organization/findone/4"> Find 4</a>
        </li>
      </ol>
      <!-- Requesting for Getting view -->
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="/organization">Organization Details</a>
        </li>
        <!-- Creating organization -->
        <li>
          <a href="/organization/create">Create Organization</a>
        </li>
        <!-- Editing organization -->
        <li>
          <a href="/organization/edit/1">Edit 1</a>
        </li>
        <li>
          <a href="/organization/edit/2">Edit 2</a>
        </li>
        <li>
          <a href="/organization/edit/3">Edit 3</a>
        </li>
        <li>
          <a href="/organization/edit/4"> Edit 4</a>
        </li>
        <!-- Deleting organization -->
        <li>
          <a href="/organization/delete/1">Delete 1</a>
                </li>
        <li>
          <a href="/organization/delete/2">Delete 2</a>
        </li>
        <li>
          <a href="/organization/delete/3"> Delete 3</a>
        </li>
        <li>
          <a href=" /organization/delete/4"> Delete 4</a>
        </li>
        <!-- organization Details -->
        <li>
          <a href=" /organization/details/1"> Details 1</a>
        </li>
        <li>
          <a href=" /organization/details/2"> Details 2</a>
        </li>
        <li>
          <a href=" /organization/details/3"> Details 3</a>
        </li>
        <li>
          <a href=" /organization/details/4"> Details 4</a>
        </li>
      </ol>

      <hr>
      <!-- Adding link for account -->
      <hr>
      <h2>Nikitha Lakmarapu</h2>
      <h3> Account</h3>
      <!-- Requesting for JSON Data -->
      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="/account/findall">/account/findall</a>
        </li>
        <li> <a href="/account/findone/3476271926">/account/findone/3476271926</a>
        </li>
        <li> <a href="/account/findone/3476271927">/account/findone/3476271927</a>
        </li>
        <li> <a href="/account/findone/3476271928">/account/findone/3476271928</a>
        </li>
        <li> <a href="/account/findone/3476271929">/account/findone/3476271929</a>
        </li>
      </ol>
      <!-- Requesting for Getting view -->
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="/account">/account</a>
        </li>
        <!-- Creating account -->
        <li>
          <a href="/account/create">/account/create</a>
        </li>
        <!-- Editing account -->
        <li>
          <a href="/account/edit/3476271926">/account/edit/3476271926</a>
        </li>
        <li>
          <a href="/account/edit/3476271927">/account/edit/3476271927</a>
        </li>
        <li>
          <a href="/account/edit/3476271928">/account/edit/3476271928</a>
        </li>
        <li>
          <a href="/account/edit/3476271929">/account/edit/3476271929</a>
        </li>
        <!-- Deleting account -->
        <li>
          <a href="/account/delete/3476271926">/account/delete/3476271926</a>
        </li>
        <li>
          <a href="/account/delete/3476271927">/account/delete/3476271927</a>
        </li>
        <li>
          <a href="/account/delete/3476271928">/account/delete/3476271928</a>
        </li>
        <li>
          <a href="/account/delete/3476271929">/account/delete/3476271929</a>
        </li>
        <!-- account Details -->
        <li>
          <a href="/account/details/3476271926">/account/details/3476271926</a>
        </li>
        <li>
          <a href="/account/details/3476271927">/account/details/3476271927</a>
        </li>
        <li>
          <a href="/account/details/3476271928">/account/details/3476271928</a>
        </li>
        <li>
          <a href="/account/details/3476271929">/account/details/3476271929</a>
        </li>
      </ol>
      <hr>
      <!-- Adding link for transaction -->
      <hr>
      <h2>Bhavani Pathuri</h2>
      <h3> Transaction</h3>
      <!-- Requesting for JSON Data -->
      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="/transaction/findall">/transaction/findall</a>
        </li>
        <li> <a href="/transaction/findone/91">/transaction/findone/91</a>
        </li>
        <li> <a href="/transaction/findone/92">/transaction/findone/92 </a>
        </li>
        <li> <a href="/transaction/findone/93">/transaction/findone/93</a>
        </li>
        <li> <a href="/transaction/findone/94">/transaction/findone/94</a>
        </li>
      </ol>
      <!-- Requesting for Getting view -->
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="/transaction">/transaction</a>
        </li>
        <!-- Creating transaction -->
        <li>
          <a href="/transaction/create">/transaction/create</a>
        </li>
        <!-- Editing transaction -->
        <li>
          <a href="/transaction/edit/91">/transaction/edit/91</a>
        </li>
        <li>
          <a href="/transaction/edit/92">/transaction/edit/92</a>
        </li>
        <li>
          <a href="/transaction/edit/93">/transaction/edit/93</a>
        </li>
        <li>
          <a href="/transaction/edit/94">/transaction/edit/94</a>
        </li>
        <!-- Deleting transaction -->
        <li>
          <a href="/transaction/delete/91">/transaction/delete/91</a>
        </li>
        <li>
          <a href="/transaction/delete/92">/transaction/delete/92</a>
        </li>
        <li>
          <a href="/transaction/delete/93">/transaction/delete/93</a>
        </li>
        <li>
          <a href="/transaction/delete/94">/transaction/delete/94</a>
        </li>
        <!-- transaction Details -->
        <li>
          <a href="/transaction/details/91">/transaction/details/91</a>
        </li>
        <li>
          <a href="/transaction/details/92">/transaction/details/92</a>
        </li>
        <li>
          <a href="/transaction/details/93">/transaction/details/93</a>
        </li>
        <li>
          <a href="/transaction/details/94">/transaction/details/94</a>
        </li>
      </ol>
      <hr>
    </div>
  </div>
</div>