<!-- main  -->
<div class=row>
  <div class="col col-xs-12">
          <!-- _id: { type: Number, required: true },
          categoryID: { type: Number, required: true, unique: true, default: 555 },
          nameOfCategory: { type: String, required: true, default:'Name of Category' },
          datePlaced: { type: Date, required: true, default: Date.now() },
          totalAmount: { type: Number, default: true }
        }) -->
    <div class="form-group">
      <label for="name">categoryID</label>
      <input type="number" class="form-control" id="categoryID" name="categoryID" value="<%= category.categoryID %>" >
    </div>

    <div class="form-group">
      <label for="nameOfCategory">nameOfCategory</label>
      <input type="string" class="form-control" id="nameOfCategory" name="nameOfCategory" value="<%= category.nameOfCategory %>">
    </div>

    <div class="form-group">
      <label for="datePlaced">datePlaced</label>
      <input type="date" class="form-control" id="datePlaced" name="datePlaced" value="<%= category.datePlaced %>">
    </div>




  </div>
</div>

<!-- PUT CLIENT SIDE CODE HERE -->
<script>

  // function toCurrency(amount) 

  // https://gist.github.com/kylefox/780065
  function toCurrency(amount) {
    return "$" + amount.toFixed(2);
  };

  // function toCurrencyInt(amount) 
  function toCurrencyInt(amount) {
    return "$" + amount.toFixed(0);
  };

  // Add  .toCurrency() method to all Numbers
  Number.prototype.toCurrency = function () {
    return toCurrency(this);
  };

  // Add  .toCurrencyInt() method to all Numbers
  Number.prototype.toCurrencyInt = function () {
    return toCurrencyInt(this);
  };

  function onFormChange() {
    const newAge = parseFloat($("input[name=age]").val());
    let price = 75
    if (newAge == 1) {
      price = 100
    }
    $("#puppyCost").html(price.toCurrencyInt());
  }

  // window.onload = a function that will call all update functions to display calculated values
  window.onload = function () {
    onFormChange();
  }

  // prevent submission when hitting enter key - optional, but user-friendly 
  document.forms[0].onkeypress = function (e) {
    var key = e.charCode || e.keyCode || 0;
    if (key == 13) {
      e.preventDefault();
    }
  }

// END CLIENT SIDE CODE  (close the script tag)
</script>