<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1> Nikitha Lakmarapu </h1>
      <h2> <a href="https://nikithalakmarapu.github.io/nikitha/">About me</a> </h2>

      <br>
      <br>
    </div>
  </div>
</div>