<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of organization</h2>
      <br>
      <br> ID: <%=  organization._id %>
      <br> Email: <%=organization.email%>
      <br> Organization Name: <%=organization.organizationName%>
      <br> Street 1: <%=organization.street1%>
      <br> Street 2: <%=organization.street2 %>
      <br> City: <%=organization.city %>
      <br> State: <%=organization.state %>
      <br> Zip: <%=organization.zip %>
      <br> Country: <%=organization.country %>
      <hr>
      
      <form method="get" action="/organization">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>
      
      <form method="POST" action="/organization/delete/<%= organization._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>