<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="organization/create" class="btn btn-primary new">
        Create a new organization
      </a>

      <h2>Recent entries</h2>
      <p>There are
        <%= organizations.query.length %> organizations.
        <br>
      </p>
      <% for (var i = organizations.query.length-1; i >= 0; i--) {   
        organization = organizations.query[i];   %>

      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">

       
      <br> ID: <%=  organization._id %>
      <br> Email: <%=organization.email%>
      <br> Organization Name: <%=organization.organizationName%>
      <br> Street 1: <%=organization.street1%>
      <br> Street 2: <%=organization.street2 %>
      <br> City: <%=organization.city %>
      <br> State: <%=organization.state %>
      <br> Zip: <%=organization.zip %>
      <br> Country: <%=organization.country %>
      <hr>
          <a href="/organization/delete/<%= organization._id  %>" class="btn btn-danger"> Delete </a>
          <a href="/organization/details/<%= organization._id %>" class="btn btn-info"> Details </a>
          <a href="/organization/edit/<%= organization._id %>" class="btn btn-primary"> Edit </a>
          <hr>
          <hr>
        </div>
      </div>
      <% } %>

    </div>
  </div>
</div>